<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Prediction</title>
</head>
<body>
    <h1>Text Prediction Form</h1>

    <form method="POST" action="/predict" id="predictionForm">
        <label for="textbox">Enter Text:</label>
        <textarea name="textbox" id="textbox" cols="50"></textarea><br>
        <button type="submit" name="submit" onclick="submitForm()">Submit</button>
    </form>

    </body>
</html>
